<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar"/>
<div class="container">
    <div class="row main">
        <div class="col-md-6">
            <h2 class="title">Change Password</h2>
            <hr/>
            <form method="post" th:action="@{/account/changePassword}">
                <input type="hidden" name="id" th:value="${user.userId}"/>

                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" th:value="${user.firstName}" id="firstName"
                                   name="firstName" roleId="firstname" placeholder="Enter your first name"
                                   required="required"/>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Current Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" th:value="${user.password}" id="password" name="password" roleId="password"  placeholder="Enter Current Password" required="required"/>
                        </div>
                    </div>
                </div>
                
                <hr/>

                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">New Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" th:value="${newPwd}" id="newPwd" name="newPwd" roleId="password"  placeholder="Enter New Password" required="required"/>
                        </div>
                    </div>
                </div>

              <!--  <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Confirm New Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" th:value="${user.password}" id="password" name="password" roleId="password"  placeholder="Re-enter New Password" required="required"/>
                        </div>
                    </div>
                </div> -->
                

                <div class="form-group ">
                    <button type="submit" class="btn btn-primary btn-block ">Change Password</button>
                </div>

            </form>
        </div>
        
        
        
    </div>
</div>


<div th:replace="common/header :: body-bottom-scripts"/>

</body>
</html>