<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header" />
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar"/>
<div class="container">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">New Job Details</h1>
                <hr />
            </div>
        </div>
        <div class="main-login main-center">
            <form class="form-horizontal" method="post" th:action="@{account/jobsPostedByMe}">

                <div class="form-group">
                    <label for="firstName" class="cols-sm-2 control-label">Company Name</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" th:value="${job.companyName}" id="companyName" name="companyName" roleId="companyName"  placeholder="Enter Company name" required="required"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="lastName" class="cols-sm-2 control-label">Skills</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" th:value="${job.skills}" id="skills" name="skills" roleId="skills"  placeholder="Enter Skill-set" required="required"/>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="lastName" class="cols-sm-2 control-label">Role</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" th:value="${job.role}" id="role" name="role" roleId="role"  placeholder="Enter Role" required="required"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="phone" class="cols-sm-2 control-label">Contact No</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-phone fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" th:value="${job.phoneNo}" id="phoneNo" name="phoneNo" roleId="phoneNo"  placeholder="xxx-xxx-xxxx" required="required"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label">Contact Email</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" th:value="${job.contactEmail}" id="contactEmail" name="contactEmail" roleId="contactEmail"  placeholder="Enter Contact Email" required="required"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="username" class="cols-sm-2 control-label">Min Experience</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" th:value="${job.minExperience}" id="minExperience" name="minExperience" roleId="minExperience"  placeholder="Enter Minimum Experience" required="required"/>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="username" class="cols-sm-2 control-label">Max Experience</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" th:value="${job.maxExperience}" id="maxExperience" name="maxExperience" roleId="maxExperience"  placeholder="Enter Maximum Experience" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="username" class="cols-sm-2 control-label">Details</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" th:value="${job.summary}" id="summary" name="summary" roleId="summary"  placeholder="Enter Details(if any)" />
                        </div>
                    </div>
                </div>

               

                <div class="form-group ">
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Submit</button>
                </div>
                
                <hr />
                
				<div class="form-group ">
                    <a  class="btn btn-info btn-lg btn-block login-button" th:href="@{/account/jobsPostedByMe}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>


<div th:replace="common/header :: body-bottom-scripts" />

</body>
</html>